* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

header {
    background-color: #232a31;
    padding: 1.3rem 3rem;
}

.reader {
    position: relative;
}

.logo {
    width: 5rem;
}

#btn-entrar {
    background-color: #2cc76a;
    padding: 15px 20px;
    border-radius: 0.5rem;
}

.nav-items {
    position: absolute;
    right: 3rem;
    padding-top: 1.8rem;
    word-spacing: 2.2rem;
}

.nav-items a {
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.nav-items a:hover {
    color: #c9bcbc;
    transition: 1s;
}

.main-banner {
    background-image: url('../img/mainbanner.png');
    background-size: cover;
    background-position: center;
    padding: 15rem 0;
}

.main-banner h1 {
    font-size: 5rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.main-banner h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.website-features {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-top: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 8rem;
}

.website-features div {
    margin-bottom: 1rem;
    width: 37rem;
    text-align: center;
    margin: 0 auto;
}

.website-features div p {
    line-height: 2.3rem;
    color: #70747a;
}

.website-features div h3 {
    margin-bottom: 2rem;
    color: #333;
}

.website-features div {
    font-size: 1.6rem;
}

.fas {
    font-size: 5.5rem;
    margin-bottom: 1rem;
}

.fa-shield-alt {
    color: #2cc76a;
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #ef8f29;
}

.plans-and-prices {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.plans-and-prices h2 {
    font-size: 3.5rem;
    color: #333;
}

.plans-and-prices p {
    font-size: 2rem;
    color: #70747a;
}

.plans {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
}

.prices {
    background-color: #fff;
    margin-bottom: 1rem;
    width: 26rem;
    margin: 0 auto;
}

.prices li{
    list-style: none;
}

.type-plan {
    background-color: #202b34;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 6rem;
    padding-bottom: 1rem;
}

.prices-of-plan {
    background-color: #2cc762;
    font-size: 1.6rem;
    width: 12rem;
    height: 12rem;
    line-height: 12rem;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 8rem;
}

#dedicado-plus {
    background-color: #f45c57;
    font-size: 1.6rem;
    width: 12rem;
    height: 12rem;
    line-height: 12rem;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 8rem;
}

.brinde li{
    background-color: #e8e9ea;
    line-height: 5rem;
    font-size: 1.6rem;
    color: #333;
}

.btn-to-know-more {
    line-height: 7rem;
    font-size: 2.2rem;
    background-color: #2cc762;
    color: #fff;
    cursor: pointer;
}

.btn-to-know-more-dedicado-plus {
    line-height: 7rem;
    font-size: 2.2rem;
    background-color: #f45c57;
    color: #fff;
    cursor: pointer;
}

.container-plans {
    padding-top: 7rem;
    position: relative;
    margin-right: 2rem;
    margin-left: 2rem;
}

.domain-search {
    background-color: #34454e;
    padding: 5rem 4rem;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 5rem;
}

.domain-search h2 {
    font-size: 4.2rem;
    color: #fff;
    margin-bottom: 1.5rem;
}

.domain-search p {
    font-size: 2.4rem;
    color: #d5d5d5;
    margin-bottom: 2.5rem;
}

.domain-search input[type="text"] {
    width: 60%;
    padding: 2rem;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.domain-search input[type="submit"] {
    background-color: #2cc76a;
    padding: 1.5rem 3rem;
    color: #fff;
    font-size: 2.4rem;
    cursor: pointer;
    opacity: 0.8;
}

.domain-search input {
    display: block;
    border-radius: 0.5rem;
    border: none;
    margin: 0 auto;
}

.contact-us {
    text-align: center;
    padding: 5rem 0 2rem 0;
    margin-top: 5rem;
}

.contact-us h2 {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.contact-us p {
    font-size: 2rem;
    margin-bottom: 4rem;
    color: #70747a;
}

.contact-us input {
    width: 200px;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin: 0 1rem 2rem;
    box-sizing: border-box;
}

.contact-us textarea {
    display: block;
    margin: 0 auto 2rem;
    width: 47rem;
    height: 15rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-us input[type="submit"] {
    background-color: #2cc762;
    color: #fff;
    cursor: pointer;
}

footer {
    text-align: center;
    font-weight: bold;
    margin: 5rem 0 10rem;
}

footer p {
    font-size: 1.6rem;
    color: #70747a;
}

@media (max-width: 768px) {
    .main-banner h2 {
        padding: 3rem;
    }

    .container-plans {
        margin-bottom: 2rem;
    }
}

@media (max-width: 425px) {
    .nav-items {
        word-spacing: 1.5rem;
    }

    .nav-items a {
        font-size: 1.3rem;
    }

    #btn-entrar {
        padding: 10px;
    }

    .website-features {
        padding: 0;
    }

    .contact-us textarea {
        width: 37rem;
    }

    .website-features div {
        margin: 3rem auto;
    }

    .prices-of-plan {
        left: 10rem;
    }

    #dedicado-plus {
        left: 10rem;
    }

    .contact-us input {
        width: 250px;
    }

    .domain-search {
        padding: 5rem 1.2rem;
    }

    .domain-search input[type="text"] {
        width: 70%;
    }
}

@media (max-width: 375px) {

    header {
        padding: 1.3rem 1rem;
    }

    .nav-items {
        word-spacing: 1rem;
    }

    .nav-items a {
        font-size: 1.2rem;
    }

    .website-features {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .website-features div {
        width: 30rem;
    }

    .prices-of-plan {
        left: 7.6rem;
    }

    #dedicado-plus {
        left: 7.6rem;
    }

    .contact-us textarea {
        width: 35rem;
    }
}

@media (max-width: 320px) {
    .plans {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .container-plans {
        margin-left: 0;
        margin-right: 0;
    }

    .contact-us textarea {
        width: 27rem;
    }

    .nav-items a {
        font-size: 1rem;
    }

    .nav-items {
        word-spacing: 0.7rem;
    }
}