* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

header {
    background-color: #232a31;
    position: relative;
    padding: 1.3rem 3rem;
}

.logo {
    width: 4%;
}

#btn-entrar {
    background-color: #2cc76a;
    padding: 15px 20px;
    border-radius: 0.5rem;
}

.nav-items {
    position: absolute;
    right: 3rem;
    padding-top: 1.8rem;
    word-spacing: 2.2rem;
}

.nav-items a {
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.nav-items a:hover {
    color: #c9bcbc;
    transition: 1s;
}

.main-banner {
    background-image: url('../img/mainbanner.png');
    background-size: cover;
    background-position: center;
    padding: 15rem 0;
}

.main-banner h1 {

    font-size: 5rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;

}

.main-banner h2 {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

